
{% load static %}
<style type="text/css">
	.SearchClass{
	padding:15px;
	padding-top:0;
}

.loginLinkStyle{
	position: absolute;
	font-size: 25px;
	right: 30px !important;

	top: 16px;
}
</style>

<link rel="stylesheet" type="text/css" href="{% static 'navbar/style.css' %}">

<nav class="navbar navbar-expand-md bg-info navbar-dark my_nav">
	<a class="navbar-brand d-none d-md-block" href="{% url 'home' %}"><b>MC</b>Player</a>

	<!--navbar toggler-->

	<button class="navbar-toggler mb-1 mt-1" type="button" data-toggle="collapse" data-target="#myNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!------------->

    <div class="collapse navbar-collapse" id="myNavbar">
    	<ul class="navbar-nav">

    		<!--Home link-->

    		<li class="nav-item d-none d-md-block">
    			<a class="nav-link {{active.ActiveHome}}" href="{% url 'home' %}">Home</a>
    		</li>

    		<!------------->

    		
    		<!--Post link-->

		{% if user.is_authenticated %}

			
			<li class="nav-item">
				<a class="nav-link {{active.ActiveFollowing}}" href="{% url 'following-list' %}">Followings</a>
			</li>
			<li class="nav-item"><a class="nav-link {{active.ActivePost}}" href="{% url 'post-create' %}">Post</a></li>

		{% endif %}


		    <!------------->


		</ul>

		<div class="col-md-6 searchform d-none d-md-block SearchClass">
			<form class="navbar-form" role="search">
				<div class="input-group">
					<input type="text" class="form-control" id="SearchField" placeholder="Search" onkeypress="" name="q" value="{{ request.GET.q }}">
					<div class="input-group-btn">
						<a class="btn btn-outline-info searchButton" onclick="Search()"  type="submit">
							<i class="material-icons" data-toggle="tooltip" data-placement="top" title="Search">search</i>
						</a>
					</div>

				</div>
			</form>
		</div>

	</div>
	

	<div class="collapse navbar-collapse justify-content-end" id="myNavbar">
		<ul class="navbar-nav">

		{% if user.is_authenticated %}

        
			<!--profile img-->
		<div class="ProfileImg">

			<a href="{% url 'profile' %}" > 
				<img class="rounded-circle account-img nav-item d-none d-md-block ml-2 profile_img {{NoneProfile}} {{active.ActiveProfile}} {{ActiveProfile}}" 
				width="55" height="55" id="NavImg" src="https://drive.google.com/thumbnail?id=1hn-jqy47zD8v0RnKzd9WufbxgBloDrsn">
			</a>


		</div>
			<script type="text/javascript">
				var b_img_S11 = document.getElementById("NavImg")
				var b_img_Bnav11 = document.createElement('img')
				b_img_Bnav11.onload = function(){
					b_img_S11.src = this.src
				}
				setTimeout(function(){
					b_img_Bnav11.src = '{{ user.profile.image.url }}'
				},50)

			</script>

			<!------------->
      
			<!--Login and Register link-->

		{% else %}

			<li class="nav-item"><a class="nav-link mb-1 {{ActiveLogin}}" href="{% url 'login' %}">LogIn</a></li>
			<li class="nav-item "><a class="nav-link {{ActiveRegister}}" href="{% url 'register' %}">Register</a></li>

		{% endif %}

		    <!---------------------------->

		</ul>
	</div>

	<div class="HomeLink d-block d-md-none">
    	<a class="HomeLinkStyle {{active.ActiveHome}}" href="{% url 'home' %}"><i class="material-icons">home</i></a>

	</div>
	{% if not user.is_authenticated %}
	<div class="d-block d-md-none">
		<a class="HomeLinkStyle loginLinkStyle {{ActiveLogin}}" href="{% url 'login' %}"><i class="fa fa-sign-in"></i></a>
	</div>
	{% endif %}

	<div class="col-6 searchformSmall d-md-none">
		<form class="navbar-form" role="search">
			<div class="input-group">
				<input type="text" class="form-control" id="SearchField2" placeholder="Search" name="q" value="{{ request.GET.q }}">
				<div class="input-group-btn">
					<a class="btn btn-outline-info searchButton" onclick="Search2()" type="submit"><i class="material-icons">search</i></a>
				</div>
			</div>
		</form>
	</div>

<!--samll screen size profile img-->

{% if user.is_authenticated %}





<div class="ProfileImg">

<a class="d-md-none small_img_position mt-1" href="{% url 'profile' %}" 
	>
	<img id="NavImg2" class="rounded-circle account-img profile_img {{NoneProfile}} {{active.ActiveProfile}}" 
	width="52" height="52" src="https://drive.google.com/thumbnail?id=1hn-jqy47zD8v0RnKzd9WufbxgBloDrsn" >
</a>

</div>
			<script type="text/javascript">
				var b_img_S22 = document.getElementById("NavImg2")
				var b_img_Bnav22 = document.createElement('img')
				b_img_Bnav22.onload = function(){
					b_img_S22.src = this.src
				}
				b_img_Bnav22.src = '{{ user.profile.image.url }}'
				

			</script>
{% else %}

<p class="d-none d-md-block spacenav"></p>

{% endif %}



<!-------------------------------->



	
</nav>
















