{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content  %}

{% if messages %}
   {% for message in messages %}    
       <div class="alert alert-{{ message.tags }}">{{ message }}</div>
   {% endfor %}
{% endif %}
{% block css %}
<style type="text/css">
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

</style>
{% endblock %}
<div class="page  " style="margin-top:140px;">
<form class="RequestBtn " method="POST">{% csrf_token %}

	<fieldset class="form-group">
		<legend class="border-bottom mb-4">Log In</legend>

		{{form|crispy}}

	</fieldset>

	<div class="form-group">
		<button class="btn btn-outline-info col-12 loginBtn" type="submit"><e class="fa fa-sign-in"> </e> Log in <b class=""> </b></button>
	</div>
	
</form>

<div class="d-none d-md-block">

<div class="border-top pt-3">
	<small class="text-muted ">
	    <a class="ml-2" href="{% url 'register' %}">Create New Account</a>
	</small>
</div>

</div>


<div class="d-block d-md-none">

<div class="border-top pt-3">
	<h6 class="text-muted ">
	    <a class="ml-2" href="{% url 'register' %}">Create New Account</a>
	</h6>
</div>
</div>

</div>
{% endblock %}

{% block javascript %}

<script type="text/javascript">
$(function(){

$('.RequestBtn').submit(function(){
    var this_ = $('.loginBtn')
    this_.attr('class','btn btn-info col-12')
    this_.attr('disabled','')
    var EmailInput = $('#id_email').val().trim();

    
    this_.children('b').attr('class','fa fa-cog fa-spin')
    var loading = this_.children()
    



    })
});	



</script>
{% endblock %}