{% extends "base.html" %}

{% block content  %}
{% load crispy_forms_tags %}
{% if messages %}
   {% for message in messages %}    
       <div class="alert alert-{{ message.tags }}">{{ message }}</div>
   {% endfor %}
{% endif %}
{% block css %}
<style type="text/css">
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

</style>
{% endblock %}

<style type="text/css">





#hint_id_username{
display: none !important;
}


</style>

<form id="FormId" method="POST" enctype="multipart/form-data" style="margin-top:140px;">{% csrf_token %}
	<fieldset class="form-group">
		<legend class="border-bottom mb-4 ">Image & Background Image</legend>
		<div class="custom-file-upload">
			{{p_form|crispy}}
		</div>
	</fieldset>
	<div class="form-group">
		<button class="btn btn-outline-info RequestBtn col-12" type="submit">Save <b class=""> </b></button>
	</div>
	
</form>


{% block javascript %}

<script type="text/javascript">
$(function(){

$('#FormId').submit(function(){
    var this_ = $('.RequestBtn')
    this_.attr('class','btn btn-info col-12')
    this_.attr('disabled','')
    
    this_.children().attr('class','fa fa-cog fa-spin')
    var loading = this_.children()
    



    })
});	

</script>

{% endblock %}





{% endblock %}
